* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font);
  height: 100vh;
}

body, html {
  overflow-x: hidden;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: padding-top 0.3s ease;
}

.content.navbar-active {
  padding-top: clamp(86px, 15vh, 100px);
}

@media (max-width: 768px), (orientation: portrait) {
  .content {
    position: relative;
  }
}


:root {
  --mainpage-bg: url('/mainpage/backgrounddark.webp');
  --bg-color: #000000;
  --text-color: white;
  --text-color-rgb: 255, 255, 255;
  --invert-color-reverse: 1;
  --navbar-avatar-bordercolor: linear-gradient(45deg, #ff6b6b, #573dd9);
  --base-gradient: linear-gradient(90deg, #A23CED, #ee3f3f);
  --light-hover-gradient: linear-gradient(270deg, rgba(228, 110, 167, 0.5), rgba(161, 71, 212, 0.5));
  --navbar-radial-bordercolor: linear-gradient(45deg, #ef594e, #8542e9);
  --font: 'Lexend', sans-serif;
  --text-shadow-color-rgb: 255, 238, 238;
}

.dark {
  --mainpage-bg: url('/mainpage/backgrounddark.webp') !important;
  --bg-color: #000000 !important;
  --text-color: white !important;
  --text-color-rgb: 255, 255, 255 !important;
  --invert-color-reverse: 1 !important;
  --base-gradient: linear-gradient(90deg, #A23CED, #ee3f3f) !important;
  --light-hover-gradient: linear-gradient(270deg, rgba(230, 65, 150, 0.6), rgba(173, 61, 237, 0.6)) !important;
  --navbar-radial-bordercolor: linear-gradient(45deg, #ef594e, #8542e9) !important;
  --text-shadow-color-rgb: 255, 238, 238 !important;
}

.light {
  --mainpage-bg: url('/mainpage/backgroundlight.webp') !important;
  --bg-color: #ffffff !important;
  --text-color: #000000 !important;
  --text-color-rgb: 0, 0, 0 !important;
  --invert-color-reverse: 0 !important;
  --invert-color: 1 !important;
  --base-gradient: linear-gradient(90deg, #aa75e7, #FA6EA8, #ff8d46);
  --light-hover-gradient: linear-gradient(270deg, rgba(224, 134, 246, 0.5), rgba(255, 141, 70, 0.5)) !important;
  --navbar-radial-bordercolor: linear-gradient(90deg, #f571b1,  #c396f7) !important;
  --text-shadow-color-rgb: 26, 5, 26 !important;
}
