.home-page {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
}

.convertifile-maincontainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 10%;
    margin-bottom: 2.5vh;
    position: relative;
    box-sizing: border-box;
}

.convertifile-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.4;
    filter: drop-shadow(0 2px 2px var(--text-shadow-color));
  }

.title-gradient {
    position: relative;
    z-index: 0;
    background: var(--base-gradient);
    font-size: clamp(4rem, 10vh, 6rem);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

  .title-norm {
    font-size: clamp(2rem, 10vh, 3rem);
    text-align: center;
    color: var(--text-color);
    margin: 0;
  }

.convertifile-panel {
    width: 100%;
}

.convertifile-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--text-color);
    border-radius: 12px;
    flex-wrap: wrap;
    overflow: hidden;
}

.convertifile-container span {
    padding: 20px;
    flex: 1;
    aspect-ratio: 3/2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;   
    font-size: clamp(1rem, 2vw, 3rem);
}

.convertifile-container span .icon {
    object-fit: contain;
    width: 6vw;
    height: 6vw;
    filter: invert(var(--invert-color-reverse));
}

.convertifile-btnlink {
    color: inherit;
    text-decoration: none;
    flex: 1;
    border-left: 3px solid var(--text-color);
}

.convertifile-btnlink:hover span {
    background: var(--light-hover-gradient);
}

.convertifile-container .convertifile-btnlink:first-child {
    border-left: none;
}