.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  justify-content: flex-start;
  gap: 5vh;
  margin: 0 auto;
}

.pageTitle {
  font-size: clamp(2rem, 4vw, 3rem);
  position: relative;
  text-align: center;
  color: var(--title-text-color);
  text-shadow: 0 2px 4px rgba(var(--text-shadow-color-rgb), 0.2),
  0 0 1px rgba(var(--subtle-glow-rgb-2), 0.5);
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 1.2s steps(40, end);
  border-right: 3px solid transparent;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.uploadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  max-height: 65vh;
  padding: max(2vh, 1vw);
  border-radius: 24px;
  position: relative;
  box-shadow: 0 0px 4px rgba(var(--border-color-rgb, 0.1)), 
              0 0px 6px rgba(var(--subtle-glow-rgb, 0.1)),
              inset 0 0 4px 2px rgba(var(--subtle-glow-rgb-2), 0.1);

  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: var(--page-anim);
}

.dashed {
  border: 1px dashed rgba(var(--contentborder-color-rgb), 0.5);
}

.solid {
  border: 1px solid rgba(var(--contentborder-color-rgb), 0.5);
}


.uploadSection:hover {
  box-shadow: 0 0px 2px rgba(var(--border-color-rgb, 0.1)), 
              0 0px 4px rgba(var(--subtle-glow-rgb, 0.1)),
              inset 0 0 10px 2px rgba(var(--subtle-glow-rgb-2), 0.3);
}

.uploadSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--imagepage-bg);
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  opacity: 0.4;
  z-index: -1;
}

.uploadSection.dragging {
  border-color: #5649c0;
  background-color: rgba(108, 92, 231, 0.1);
}

.dropOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--highlight-rgb), 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 10;
}

.dropOverlay p {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.blurredContent {
  filter: blur(4px);
  pointer-events: none;
}

@media (max-width: 768px) and (orientation: portrait) {
  .container {
    width: 90%;
  }

  .uploadSection {
    min-height: 65vh;
    max-height: 75vh;
  }
}
